---
import { Image } from "astro:assets";
import cardImage from "../assets/images/illustration-article.jpg";
import avatarImage from "../assets/images/image-avatar.jpg";
interface Props {
	cardImageAlt: string;
	category: string;
	date: string;
	title: string;
	description: string;
	avatarImageAlt: string;
	author: string;
}

const {
	cardImageAlt,
	category,
	date,
	title,
	description,
	avatarImageAlt,
	author,
} = Astro.props;
---

<article class="Card">
	<Image src={cardImage} alt={cardImageAlt} class="Card-image" />
	<span class="Card-category"> {category}</span>
	<small class="Card-date"> {date}</small>
	<a href="#" class="Card-title">
		<h1>{title}</h1>
	</a>
	<p class="Card-description">
		{description}
	</p>
	<div class="Meta">
		<Image src={avatarImage} alt={avatarImageAlt} class="Meta-img" />
		<p class="Meta-author">{author}</p>
	</div>
</article>

<style lang="scss">
	.Card {
		display: flex;
		flex-flow: column nowrap;
		background-color: white;
		max-width: 23.9375em;
		height: 32.5625em;
		border-radius: 1.25em;
		margin: 1em;
		border: solid 1px black;
		padding: 1.5em;
		box-shadow: 0.5625em 0.5625em 0em 0em rgba(0, 0, 0, 1);
		transition: 0.1s all ease;
		gap: 8px;

		&:hover {
			box-shadow: 1.0625em 1.0625em 0em 0em rgba(0, 0, 0, 1);

			.Card-title {
				color: var(--yellow);
				text-decoration: underline;
			}
		}

		&-image {
			border-radius: 0.625em;
			height: 12.5em;
			margin: 0 0 0 0;
			width: 100%;
		}

		&-category {
			padding: 0.25em 1em;
			background-color: var(--yellow);
			display: flex;
			align-items: center;
			justify-content: center;
			width: fit-content;
			height: 1.75em;
			border-radius: 0.3125em;
			font-weight: 800;
			font-size: 0.8125em;
			margin: 1em 0;
		}

		&-date {
			font-size: 0.75em;
			margin: 0 0 0 0;
		}

		&-title {
			font-weight: 800;
			transition: 0.1s all ease;
			color: black;
			text-decoration: none;
			margin: 12px 0 12px 0;

			h1 {
				font-size: 1.125em;
				font-weight: 800;
				margin: 0 0 0 0;
			}
		}

		&-description {
			font-size: 0.9375em;
			color: var(--grey);
			margin: 0 0 0 0;
		}

		.Meta {
			display: flex;
			gap: 1em;
			align-items: center;
			margin-top: 0 0 0 0;

			&-img {
				width: 2em;
				height: 2em;
				transition: 0.1s all ease;
			}

			&-author {
				font-size: 0.813em;
				font-weight: 800;
			}
		}
	}

	@media (max-width: 375px) {
		.Card {
			max-width: 326px;
		}
	}
</style>
